.bg-red {
    background-color: #E96D65 !important;
}

.bg-blue {
    background-color: #181d45 !important;
}

.text-shadow {
    text-shadow: 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important;
}

@media (min-width: 768px) {
    .border-md-end {
        border-right: 1px solid #dee2e6 !important;
    }
}

.rounded {
    border-radius: 0.5rem !important;
}

/* todo: move this to scss var */
.btn-primary {
    background: #323f74;
    border: 1px solid #323f74;
}

.btn-primary:hover {
    background: #37467c;
    border: 1px solid #37467c;
}