.side-lines {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
}

.side-lines:before,
.side-lines:after {
    content: '';
    border-top: 1px solid;
}